/**index.html page**/

.recipe-page-title {
    background-color: brown;
    font-size: 42px;
    font-weight: bold;
    color: azure;
    font-family: "Garamond", sans-serif ;
    text-align: center;
}

.link.spaghetti,
.link.skittle-water,
.link.peppermint-bark {
    font-size: 18px
}

/**Recipe Webpages**/

.heading.spaghetti,
.heading.skittle-water,
.heading.peppermint-bark {
    font-family: "Brush Script MT", "Times New Roman", sans-serif;
    font-size: 60px;
    text-align: center;
}
